@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Raleway';
}

.header {
  background-image: url('../images/background-desk.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: rgba(245, 245, 245, 0.7);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description p {
  font-size: 0.5em;
  width: 75%;
  line-height: 1.5;
}

.description button {
  border: 1px solid;
}

/*About*/

.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1 {
  margin: 2em;
}

.about img {
  height: 70%;
  width: 100%;
  border-radius: 50%;
}

.about span {
  display: block;
  position: absolute;
  left: 5em;
}

.about-text {
  border-left: 5px solid;
  padding: 2em;
}

.about .about-text p {
  line-height: 2;
}

/*Portfiolio*/

.portfiolio h1 {
  margin: 2em;
}

.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
  border: 2px solid;
}

/*Contact*/

.contact {
  margin: 2em;
  border-top: 4px solid;
}

.contact .text-center {
  margin-bottom: 1em;
  padding-top: 1em;
}

.contact .btn {
  font-size: 2em;
  width: 2em;
}
