@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Roboto';
}

.navbar {
  background-color: #007bff;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
}

.nav-link:hover {
  background-color: #f5f5f5;
  color: #006bff;
}

.navbar-toggler {
  background-color: #f5f5f5;
  color: #006bff;
}

.navbar-toggler-icon i {
  color: #006bff;
  font-size: 1.5em;
}

.header {
  background-image: url('../images/background-desk.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: rgba(245, 245, 245, 0.7);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description h1 {
  color: #006bff;
}

.description p {
  font-size: 0.5em;
  width: 75%;
  line-height: 1.5;
  color: #0a0908;
}

.description button {
  border: 1px solid #006bff;
  background-color: #006bff;
  color: #f4f4f4;
}

.description button:hover {
  border: 1px solid #006bff;
  background-color: #f4f4f4;
  color: #006bff;
}

/*About*/

.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}

.about h1 {
  margin: 2em;
  color: #006bff;
}

.about h3 {
  color: #ff6542;
}

.about img {
  width: 100%;
  border-radius: 50%;
}

.about-text {
  border-left: 5px solid #ff6542;
  padding: 2em;
}

.about .about-text p {
  line-height: 2;
  color: #0a0908;
}

#self-text {
  color: #0a0908;
}

/*Portfiolio*/

.portfolio {
  background-image: url('../images/background-desk.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 1.5em;
}

.portfolio h1 {
  color: #006bff;
}

.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
  border: 2px solid #ff6542;
}

.project-name {
  display: block;
  text-align: center;
  color: #006bff;
}

/*Skills*/

.skills {
  color: #006bff;
  text-align: center;
}

.skills h1 {
  margin-top: 1em;
  padding: 1em;
  border-top: 5px solid #ff6542;
}

/*Contact*/

.contact .text-center {
  margin-top: 1em;
  border-top: 5px solid #ff6542;
  padding: 1em;
  color: #006bff;
}

.contact .btn {
  margin: 0.5em;
  font-size: 2em;
  width: 2em;
  background-color: #006bff;
  color: #f5f5f5;
}

.contact .btn:hover {
  background-color: #f5f5f5;
  color: #006bff;
  border-color: #006bff;
}

.contact .btn:active {
  background-color: #006bff;
  color: #f5f5f5;
}
